datasets
jupyter
munch
nltk
pyyaml
seaborn
spacy
streamlit
torch
transformers
tqdm
wandb
lm-eval==0.2.0
git+https://github.com/google-research/bleurt.git
git+https://github.com/tylerjthomas9/lm_dataformat.git
# Contains fix over the main repo https://github.com/leogao2/lm_dataformat.git
# (See PR https://github.com/leogao2/lm_dataformat/pull/5)