streamlit
tqdm
git+https://github.com/tylerjthomas9/lm_dataformat.git
# Contains fix over the main repo https://github.com/leogao2/lm_dataformat.git
# (See PR https://github.com/leogao2/lm_dataformat/pull/5)